.main-wrapper {
  opacity: 0;
}

.body {
  height: 100vh;
}

.loader-imgs-holder,
.logo-parent {
  display: flex;
}

.logo-parent,
.title-text,
.watch-now {
  color: currentColor;
  border-color: currentColor;
}

.watch-now:hover {
  color: black !important;
  border-color: currentColor;
}

.watch-now:hover .watch-now-bg {
  height: 100%;
}

.light-mode-top .logo-parent {
  color: white;
}

.light-mode-top .navbar-text {
  color: white;
}

.light-mode-top .watch-now {
  color: white;
  border-color: white;
}

.play-text {
  pointer-events: none;
}

@media only screen and (max-width: 767px) {
  .body {
    height: auto;
  }
}
